/* Basic CSS starts */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.form-control:focus {
    box-shadow: none;
    border: none;
}
a:hover {
    text-decoration: none;
}
.btn-dark {
    text-transform: uppercase;
    color: #fff;
    background: #797979;
    border: none;
    border-radius: 50px;
    min-height: 50px;
    padding: 10px 25px;
}
/* Basic CSS ends */

/* Header css starts */
.navbar {
    margin-bottom: 75px;
}
.header-bg {
    background: #f7f7f7;
    padding: 0px;
}
.navbar .navbar-brand img {
    max-width: 200px;
}
.navbar-light .navbar-nav .nav-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-item:not(:last-child) .nav-link {
    padding-right: 30px;
}
/* Header css ends */

/* Form CSS starts */
.custom-form {
    background: #e0e0e0;
    padding: 50px 45px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
}
.custom-form .form-header {
    text-align: center;
    padding-bottom: 45px;
}
.custom-form .form-header .header-icon {
    margin-bottom: 40px;
}
.custom-form .form-header .form-title {
    color: #707070;
    font-weight: bold;
    font-size: 24px;
    margin: 0px;
}
.custom-form label {
    font-size: 15px;
    color: #808080;
}
.custom-form .form-control {
    border-radius: 0px;
    min-height: 60px;
    border: none;
}
.custom-form .form-btn {
    color: #808080;
    background: #fff;
    border-radius: 50px;
    height: 60px;
    width: 100%;
    text-transform: uppercase;
}
.custom-form .form-content {
    text-align: center;
    font-size: 12px;
}
.custom-form .form-footer {
    margin-top: auto;
    text-align: center;
}
/* Form CSS ends */

/* Character page starts */
.page-header {
    text-align: center;
    padding-bottom: 80px;
}
.page-header .page-title {
    color: #707070;
    font-size: 30px;
    margin: 0px;
    font-weight: 600;
}
.page-heading-small {
    color: #707070;
    margin-bottom: 25px;
}
.character-card {
    background: #e0e0e0;
    min-height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-bottom: 35px;
}
.character-card h4 {
    font-size: 14px;
    color: #747474;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.character-card .link-view {
    position: relative;
    margin-top: 20px;
    color: #747474;
    text-transform: uppercase;
    padding-left: 30px;
    font-weight: 500;
}
.character-card .link-view:hover {
    text-decoration: none;
}
.character-card .link-view::before {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 18px;
    height: 1px;
    background: #747474;
}
.pagination {
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 35px;
}
.pagination li a,
.pagination li a:hover {
    color: #707070;
    border: none;
    font-size: 20px;
    padding: 10px 40px;
    font-weight: 600;
    background: transparent;
}
.pagination li a:focus {
    box-shadow: none;
}
.pagination li.active a {
    color: #fff;
    background-color: #797979 !important;
}
.pagination li img {
    max-width: 25px;
}
/* Character page ends */

/* Detail page starts */
.detail-page .back-link {
    color: #707070;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
}
.detail-page .character-name {
    color: #707070;
    font-weight: 600;
    margin: 40px 0px;
}
.detail-page .character-info {
    color: #707070;
    font-weight: 600;
    font-size: 22px;
}
.detail-page .action-btns {
    margin-top: 40px;
}
.detail-page .action-btns .btn {
    min-width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
}
/* Detail page ends */



/* Responsive */
@media screen and (max-width: 767px) {
    .pagination li a,
    .pagination li a:hover {
        padding: 7px 20px;
        font-size: 14px;
    }
    .navbar .navbar-brand img {
        max-width: 120px;
    }
    .page-header .page-title {
        font-size: 22px;
    }
}